header {
  /* background: var(--secondary-background-color); */
  display: flex;
  padding: 1em;
  gap: 1em;
  align-items: center;
}

.text-logo {
  font-family: var(--title-font-family);
  color: var(--title-font-color);
}

.search {
  background-color: var(--primary-color);
  padding: 0.25em;
  border-radius: 12px;
}

.search-bar {
  border: none;
  background: none;
  /* border-bottom: 1em; */
  padding: 0.5em;
  outline: none;
  border-bottom: 2px solid white;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
