footer {
  /* background: var(--secondary-background-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow {
  width:20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-rights {
  font-size: x-small;
  width:20%;
}

.footer-menus {
  width:20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
