header {
  display: flex;
  padding: 1em;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tims-books-logo {
  width: 25%;
}

.tims-books {
  width:25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-logo {
  font-family: var(--title-font-family);
  color: var(--title-font-color);
  font-weight: bold;
  font-size:250%;
}

.menus {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  font-weight:bolder;
  font-size: larger;
}

.search {
  background-color: var(--primary-color);
  padding: 8%;
  border-radius: 20px;
  margin-top: 0.15em;
  font-size: small;
}

.search button {
  padding: 0;
}

.search-bar {
  border: none;
  background: none;
  /* border-bottom: 1em; */
  /* padding: 0.5em; */
  outline: none;
  border-bottom: 2px solid white;
  line-height: -5;
}

.cart-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.icon-button {
  background: var(--primary-color);
  color: white;
  border-radius: 40%;
  padding: 10%;
  font-size: small;
}

.cart-logout-search {
  width:8%;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
