.category-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* background-color: var(--neutral-color); */
}

.category-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--primary-color);
}

.category-tab {
  padding: 0.5em;
  width: 24.5%;
  height: max-content;
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.25em 0.25em 0 0;
  border: 4px solid var(--primary-color) ;
  border-bottom: 0;
}

.selected {
  background: white;
}

.category-tab a {
  text-decoration: none;
  color: white;
}

.category-tab.selected a {
  text-decoration: none;
  color: var(--primary-color);
}
